%main.container
  %h1.general-title-margin= t('session.edit.settings')
  = render partial: 'addresses/navigation'
  .tab-content
    = render partial: 'addresses/addresses'
    = render partial: 'addresses/privacy'
