%main.container.general-main-wrap
  %div.mb-30
    %h1.text-center
      = t('cart.canceled')
    %br
    = link_to t('cart.back_to_store'), root_path, class: 'btn btn-default mb-20 hidden-xs center-block'
    = link_to t('cart.back_to_store'), root_path, class: 'btn btn-default mb-20 visible-xs-inline-block'
