%h1.general-title-margin= t('checkout.steps.checkout')
%ul.steps.list-inline
  - Cart.aasm.states.map(&:name)[0..4].each_with_index do |state, index|
    %li.step{class: ('active' if cart.aasm_state == state.to_s) }
      %span.step-number= index+1
      %span.step-text.hidden-xs= t("checkout.steps.#{state}")
    %li.step-divider
