%ul.nav.clearfix.mb-20{role: "tablist"}
  %li.tab-item.active{role: "presentation"}
    %a.tab-link{href: "#address", 'aria-controls': "address", role: "tab", 'data-toggle': "tab"}= t("session.edit.address_link")
  %li.tab-item{role: "presentation"}
    %a.tab-link{href: "#privacy", 'aria-controls': "privacy", role: "tab", 'data-toggle': "tab"}= t("session.edit.privacy_link")
